<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.lavilao.zakuro"
    android:versionCode="1"
    android:versionName="0.2.23-android1">

    <!-- the Redmi 9A runs Android 10 -->
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="29" />

    <application
        android:label="Zakuro"
        android:icon="@mipmap/ic_launcher"
        android:hasCode="false"
        android:allowBackup="false"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity
            android:name="android.app.NativeActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|density|uiMode">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.lib_name" android:value="zakuro" />
            <meta-data android:name="android.app.func_name" android:value="ANativeActivity_onCreate" />
        </activity>
    </application>
</manifest>
